<div class="cover" id="cover">
  <div class="container py-5">
    <h2 class="title fw-bold px-4" style="font-size: 3rem;">Online Video Downloader For Free</h2>
    <h3 class="cover-description" style="font-size: 1.5rem; font-family: 'Poppins',sans-serif;">
      Paste The URL Below
    </h3>
    <form action="/download" method="post" style="padding: 10px;">
      <input id="myInput" type="text" name="video_url" class="form-control" placeholder="Paste URL here"
        autocomplete="off" style="width: 70%;
        margin: 0 auto;" />
      <div class="mt-3">
        <button type="submit" class="cover-button btn"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Download</button>
        <button type="button" class="cover-button btn mx-2" id="pasteButton"><i
            class="fa-regular fa-clipboard"></i>&nbsp;&nbsp;Paste</button>
      </div>
    </form>
  </div>
</div>


