<div class="hero-container"
    style="height: 90vh; display: flex; justify-content: space-between; align-items: start; width: 100%; padding-left: 1rem;">
    <div class="left">
        <div class="wrap p-5" style="margin: 6rem 0;">
            <h2 style="font-size: 3rem; font-family: 'Ubuntu',sans-serif; padding: 5px;">Your One-Stop <span
                    class="gradient">Video</span></h2>
            <h2 style="font-family: 'Ubuntu',sans-serif; padding: 5px;">Download <span class="gradient">Hub</span></h2>
            <p style="font-family: 'Poppins',sans-serif; padding: 5px;">VideoBolt is the ultimate one-stop destination
                for all your video downloading needs. With this
                cutting-edge web app, you can effortlessly save videos from any URL across the internet, including
                popular platforms like YouTube, Vimeo, Dailymotion, and more. </p>
            <a href="#cover"><button
                    style="font-family: 'Poppins',sans-serif; padding: 10px 12px; color: aliceblue; border: none; border-radius: 12px;
                    background: rgb(64,64,195);
            background: -moz-linear-gradient(34deg, rgba(64,64,195,1) 1%, rgba(108,65,163,1) 47%, rgba(137,73,181,1) 60%, rgba(97,10,160,1) 100%);
            background: -webkit-linear-gradient(34deg, rgba(64,64,195,1) 1%, rgba(108,65,163,1) 47%, rgba(137,73,181,1) 60%, rgba(97,10,160,1) 100%);
            background: linear-gradient(34deg, rgba(64,64,195,1) 1%, rgba(108,65,163,1) 47%, rgba(137,73,181,1) 60%, rgba(97,10,160,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4040c3',endColorstr='#610aa0',GradientType=1);">Get
                    Started</button></a>
        </div>
    </div>
    <div class="right" style="width: auto;">
        <img src="{{url_for('static', filename='images/vid.png')}}" alt="vid" style="object-fit: cover; width: 900px;">
    </div>

</div>
<div class="slider p-4">
    <div class="slide-track">
        <div class="slide">
            <img src="{{url_for('static', filename='images/fb.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/dailymotion.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/insta.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/bilibili.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/yt.webp')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/tiktok.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/vimeo.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/fb.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/dailymotion.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/insta.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/bilibili.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/yt.webp')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/tiktok.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/vimeo.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/fb.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/dailymotion.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/insta.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/bilibili.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/yt.webp')}}" alt="fb" height="50" width="200" class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/tiktok.png')}}" alt="fb" height="50" width="200"
                class="icon">
        </div>
        <div class="slide">
            <img src="{{url_for('static', filename='images/vimeo.png')}}" alt="fb" height="50" width="200" class="icon">
        </div>
    </div>
</div>