<nav class="navbar navbar-expand-lg px-3 py-2 fixed-top" style="background-color: #343131; border: none;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center px-4" href="/"><img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" style="height: 50px; width: 50px;"><span style="color: aliceblue; font-family: 'Comfortaa', sans-serif; font-weight: 800; padding: 3px;">VideoBolt</span></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue; font-family: 'Ubuntu',sans-serif; font-weight: 500;">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#" style="color: aliceblue; font-family: 'Ubuntu',sans-serif; font-weight: 500;">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: aliceblue; font-family: 'Ubuntu',sans-serif; font-weight: 500;">Terms & Conditions</a>
        </li>

      </ul>
    </div>
  </div>
</nav>